// colors
$accent-color: #ff6b01;
$main-text-color: #000;
$secondary-text-color: #545454;
$white-text-color: #fff;

// fonts
$main-font: 'Roboto', sans-serif;

// font-weight
$regular-weight: 400;
$medium-weight: 500;

// containers
$desktop-width: 1216px;
$tablet-width: 704px;
$phone-width: 280px;
