<main class="main">
  <div class="container">
    <h1 class="heading visually-hidden"></h1>
    <section class="film-selection">
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
      <article class="film">
        <img class="film__poster" src="./images/template-image.jpg" alt="" />
        <h2 class="film__title">Greyhound</h2>
        <p class="film__info">Drama, Action | 2020</p>
      </article>
    </section>
  </div>
  <!-- <div class="pagination">
    <button class="pagination__btn" type="button"></button>
  </div> -->
</main>
