.header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56) , rgba(0, 0, 0, 0.56)), url("../images/header-bg-sm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 40px;
    padding-bottom: 44px;

    .header-logo__icon {
        width: 24px;
        height: 24px;
    }
    
    .header-logo__link {
        height: 24px;
    }
    
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-nav__list {
        list-style: none;
        display: flex;
        gap: 40px;
        font-size: 12px;
        margin: 0;
    }
    
    .header-nav__link {
        position: relative;
        color: $white-text-color;
        font-size: 12px;
        line-height: calc(14px / 12px);
        font-weight: 500;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: $accent-color;
        }
        &:hover::after,
        &:focus::after {
            transform: scaleX(1);
        }
        &::after{
            content: '';
            left: 0;
            position: absolute;
            background: $accent-color;
            display: block;
            height: 4px;
            width: 100%;
        
            transform: scaleX(0);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    
    .header__form {
        border-bottom: 0.5px solid $white-text-color;
        display: flex;
        margin-top: 54px;
    }

    .header-form__label {
        width: 100%;
    }
    
    .header__input {
        font-size: 14px;
        color: $white-text-color;
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        margin-bottom: 4px;
        &::placeholder {
            font-size: 14px;
            color: white;
            transition-property: scale;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
        &:focus::placeholder {
            scale: 0;
        }
    }
    
    .header-form__btn {
        display: inline-block;
        border: none;
        padding: 0;
        background: transparent;
    }
    
    .header-form__icon {
        width: 12px;
        height: 12px;
    }
    
    .header-error__text {
        min-height: 32px;
        display: block;
        font-size: 14px;
        color: #FF001B;
        margin-top: 16px;
        line-height: calc(16px / 12px);
    }
}

