.main {
  min-height: 95vh;
  position: relative;
  margin-bottom: 40px;
}

.film-selection {
  margin: 0 auto;
  padding-top: 20px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop-width) {
    gap: 16px;
    margin-bottom: 60px;
  }
}

.film {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  height: 440px;

  transition-property: scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    scale: 1.02;
    cursor: pointer;
  }

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 336px;
    height: 495px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 16px;
    width: 394px;
    height: 634px;
    font-size: 20px;
    line-height: 24px;
  }
}

.film__poster {
  object-fit: cover;
  margin-bottom: 10px;
  height: 402px;
  width: 100%;
  border-radius: 5px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 8px;
    height: 455px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 12px;
    height: 574px;
  }
}

.film__title {
  margin-bottom: 5px;
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
}

.film-title__block {
  max-height: 18px;
  overflow: hidden;

  @media screen and (min-width: $desktop-width) {
    max-height: 28px;
  }
}

.film__info {
  line-height: 14px;
  color: $accent-color;

  @media screen and (min-width: $tablet-width) {
    line-height: inherit;
  }
}
