.detailed-info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  background: #00000040;
}
.detailed-info {
  // position: fixed;
  width: 280px;
  margin: auto;
  padding: 48 20 40 20;

  background-color: #fff;
}
.detailed-info__image {
  margin-bottom: 20px;
  width: 240px;
  height: 357px;
}
.detailed-info__caption {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.descript-table {
  margin-bottom: 20px;
}

.description-el__caption {
  padding-right: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: left;

  color: #8c8c8c;
}

.description-el__value {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #000000;
}

.description-el__rating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1px 4px;
  min-width: 36px;
  min-height: 16px;
  border-radius: 5px;
  line-height: 14px;
  text-transform: uppercase;

  &--orrange {
    background: #ff6b01;
    color: #ffffff;
  }

  &--white {
    background: #f7f7f7;
  }
}

.about {
  margin-bottom: 20px;
}

.about__caption {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.about__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  color: #000000;
}

.detailed-info__button-list {
  display: flex;
  justify-content: space-between;
}

.detailed-info__button {
  width: 110px;
  height: 44px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  color: #000000;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;

  &.active {
    background: #ff6b01;
    border-color: #ff6b01;
    color: #fff;
  }
}
